<!-- Login View -->
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1>HEALTH TRACKER
        <br />
        <img src="/assets/calendar.svg" alt="Making Habits!" width="20%" />
      </h1>
      <div class="pop-up">
        <%- include ("./partials/messages") %>
      </div>      
        <form action="/users/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required class="form-control" placeholder="Enter Email" />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <p class="lead mt-4">
          New User? <a href="/users/register">Register</a>
        </p>
    </div>
  </div>
</div>